@import "../../../styles/globalVariables.module.scss";

.header__nav_bar {
    width: 95%;
    max-width: 1600px;
    height: 80px;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $grey-10;
    z-index: 1;
}
