@import "../../../styles/globals.module.scss";

.nav_bar__auth_div {
    padding-left: 44px;
    display: flex;
    justify-content: space-between;
    border-left: 2px solid $grey-6;

    & .auth_div__login_redirect {
        color: $brand1;
    }
}
