@import "../../../styles/globals.module.scss";

.nav_bar__auth_div {
    padding-left: 44px;
    display: flex;
    justify-content: space-between;
    border-left: 2px solid $grey-6;
    gap: 10px;
    text-decoration: none;

    & .auth_div__login_redirect {
        color: $brand1;
        width: 150px;
        height: 48px;
        border: 1.5px solid $grey-4;
        background-color: $grey-10;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
}
