@import "../../../styles/globals.module.scss";

.div {
    width: 90%;
    max-width: 752px;
    height: 355px;
    min-height: 355px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $grey-10;
    border-radius: 4px;
    top: 125px;
    overflow: hidden;

    img {
        width: 100%;
        border-radius: 4px;
    }
}
