@import "../../../styles/globalFonts.module.scss";
@import "../../../styles/globalVariables.module.scss";

.div {
    background-color: $grey-10;
    width: 100%;
    border-radius: 0.25rem;
    border: none;
    max-width: 47.5rem;
    padding: 28px 44px;
    display: flex;
    flex-direction: column;

    & .info_title {
        margin-bottom: 40px;
    }

    & .info_tag_and_price {
        display: flex;
        justify-content: space-between;
    }

    div > h3 {
        text-align: center;
        color: $grey-1;
    }

    div > div > div > span {
        background-color: $brand4;
        color: $brand1;
        padding: 6px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        margin: 20px 0 20px 0;
    }

    button {
        width: 100px;
        height: 38px;
        margin-top: 28px;
        background-color: $brand1;
        color: $white-fixed;
        border-radius: 0.25rem;
        border: 1.5px solid $brand1;
    }

    @media (max-width: 700px) {
        :nth-child(2) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        div > div > div {
            gap: 20%;
        }
    }
}
