@import "../../../styles/globals.module.scss";

.div {
    background-color: $grey-10;
    width: 90%;
    max-width: 752px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
    padding: 28px;

    h3 {
        font-family: $lexend;
    }
}
