@import "../../../styles/globals.module.scss";

.background {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: -10;
}

.backgorund__blue {
    width: 100%;
    height: 30%;
    background-color: $brand1;
}

.background__grey {
    width: 100%;
    height: 70%;
    background-color: $grey-6;
}
