@import "../../styles/globals.module.scss";

.conteiner_form_div_login {
    height: 600px;
    align-content: end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $grey-7;
}
