@import "../../styles/globalFonts.module.scss";
@import "../../styles/globalVariables.module.scss";

.header{}

.recover__page{
    width: 100vw;
    height: 100vh;
}

.recover__section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}