@import "./globalVariables.module.scss";

.heading_1_700 {
    font-size: 2.75rem;
    font-weight: 700;
}

.heading_2_600 {
    font-size: 2.25rem;
}

.heading_5_600 {
    font-size: 1.5rem;
}

.heading_1_700,
.heading_2_600,
.heading_3_600,
.heading_3_500,
.heading_4_500,
.heading_4_600,
.heading_5_500,
.heading_5_600,
.heading_6_500,
.heading_6_600,
.heading_7_600 {
    font-family: $font-lexend;
}

.body_1_400,
.body_1_600,
.body_2_400,
.body_2_500,
.button_big_text__modify,
.button_input_placeholder__modify,
.button_medium_text__modify,
.buttons_inputlabel__modify {
    font-family: $font-inter;
}

.heading_2_600,
.heading_3_600,
.heading_4_600,
.heading_5_600,
.heading_6_600,
.heading_7_600,
.body_1_600,
.button_big_text__modify,
.button_medium_text__modify {
    font-weight: 600;
}

.heading_3_500,
.heading_4_500,
.heading_5_500,
.heading_6_500,
.body_2_500,
.buttons_inputlabel__modify {
    font-weight: 500;
}

.button_input_placeholder__modify,
.body_1_400,
.body_2_400 {
    font-weight: 400;
}

.heading_3_500,
.heading_3_600 {
    font-size: 2rem;
}

.heading_4_500,
.heading_4_600,
.heading_5_500 {
    font-size: 1.75rem;
}

.heading_6_500,
.heading_6_600 {
    font-size: 1.25rem;
}

.buttons_inputlabel__modify,
.button_medium_text__modify,
.body_2_400,
.body_2_500 {
    font-size: 0.875rem;
}

.heading_7_600,
.button_input_placeholder__modify,
.button_big_text__modify,
.body_1_400,
.body_1_600 {
    font-size: 1rem;
}
