@import "./globalVariables.module.scss";

.root {
    scroll-behavior: smooth;
}

.root * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {

    overflow-x: hidden;

    & a {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & .body__header,
    .body__main,
    .body__footer {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    & .body__header {
        border-bottom: 2px solid $grey-6;
        background-color: $white-fixed;
    }

    & .body__main {
        margin-top: 50px;
    
        & .main__container {
            width: 95%;
            max-width: 1600px;
            justify-content: center;

            & .container__main_section {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    & .body__footer {
        background-color: $grey-0;
    }


}

.toast{
    width: 100%;
    background-color: black;
}