@import "../../../styles/globalFonts.module.scss";
@import "../../../styles/globalVariables.module.scss";

.userInfoBox {
  display: flex;
  justify-content: center;
  padding: 3%;
}

.userInfo {
    background-color: $grey-10;
    max-width: 90%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 30px;
    min-width: 60%;
}

.userName {
  color: $grey-1;
}

.userContainer {
  display: flex;
  flex-direction: column;
  padding: 4%;
}

.userNameBall {
  background-color: $brand1;
  display: flex;
  width: 2.8125rem;
  height: 2.8125rem;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: white;
}

.advertiser {
  background-color: $brand4;
  color: $brand1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .25rem;
  padding: 0.25rem 0.5rem;
  gap: 0.625rem;
}

.buttonsAdminBox {
  display: flex;
  gap: 10px;
}

.buttonsAdmin {
  background-color: transparent;
  border: .125rem solid $grey-1;
  color: $grey-1;
  padding: .375rem;
  border-radius: .1875rem;
}

.nameAdvertiser {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: .9375rem;
  margin: 1rem 0;
}

.createAd {
  background-color: white;
  border: .1375rem solid $brand1;
  color: $brand1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .25rem;
  padding: .5rem;
}

.firstContainer {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
}

.li {
  width: 15.625rem;
  margin-bottom: 2.5rem;
}

.adverts {
  margin-bottom: 1.875rem;
}

.userEditAd {
  padding: 0 .3125rem;
}

@media (max-width: 617px) {
  .ul {
    justify-content: center;
  }

  .li {
    width: 26.25rem;
  }
}
