@import "../../../styles/globals.module.scss";
.button {
    height: 48px;
    width: 315px;
    left: 48px;
    top: 330px;
    border-radius: 4px;
    padding: 12px 28px 12px 28px;
    background-color: $brand1;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 0px;
    color: $white-fixed;
    border: none;
}
