@import "../../../styles/globalVariables.module.scss";

.button {
    width: 100%;
    height: 48px;
    left: 48px;
    top: 330px;
    border-radius: 4px;
    padding: 12px 28px;
    background-color: $brand1;
    color: $white-fixed;
    border: none;
    cursor:pointer;
}
