@import "../../../styles/globals.module.scss";

.product_card {
    width: 310px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;

    & .product_card__heading {
        font-family: $font-lexend;
        font-weight: 600;
        font-size: 1rem;
    }

    & .product_card__description {
        font-family: $font-inter;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 24px;
    }

    & .product_card__tag_price_div {
        width: 100%;
        display: flex;
        justify-content: space-between;

        & .tag_price_div__price_span {
            font-family: $font-lexend;
            font-weight: 500;
        }
    }
}
