@import "../../styles/globalFonts.module.scss";
@import "../../styles/globalVariables.module.scss";

.productsPage {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;

    @media (min-width: 610px) {
        margin-top: 130px;
    }

    @supports (display: grid) {
        @media (min-width: 758px) {
            margin-top: 150px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;

            .ProductSection,
            .PhotosAndProfileSection {
                flex: unset;
            }
        }
    }

    @media (min-height: 800px) and (min-width: 1000px) {
        margin-top: 180px;
    }
}
// justify-content: flex-start;
// gap: 24px;

//     .buy__button {
//         background-color: $brand1;
//         color: $white-fixed;
//         font-family: $font-inter;
//         font-size: 0.875rem;
//         font-weight: 600;
//         border-radius: 4px;
//         padding: 12px 20px;
//         border: none;
//     }

//     .price__div {
//         width: 100%;
//         display: flex;
//         flex-direction: column;
//         align-items: flex-start;
//         gap: 24px;

//         .price {
//             font-family: $font-lexend;
//             font-weight: 500;
//             font-size: 1rem;
//         }
//     }
// }

// @media (min-width: 750px) {
//     .productsPage {
//         .price__div {
//             flex-direction: row;
//             align-items: center;
//             justify-content: space-between;
//         }
//     }
// }
