@import "../../styles/globalFonts.module.scss";
@import "../../styles/globalVariables.module.scss";

.productsPage {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 70px;

    @media (max-width: 610px) {
        margin-top: 130px;
    }

    @supports (display: grid) {
        @media (max-width: 758px) {
            margin-top: 150px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;

            .ProductSection,
            .PhotosAndProfileSection {
                flex: unset;
            }
        }
    }

    @media (max-height: 800px) and (min-width: 1000px) {
        margin-top: 180px;
    }
}
