.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 44px 48px;
    gap: 32px;

    position: absolute;
    width: 412px;
    height: 542px;
}
