@import "../../../styles/globals.module.scss";

.user_container {
  max-width: 130px;
  height: 32px;
  font-family: $font-inter;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
