@import "../../../styles/globalVariables.module.scss";

.pagination_container {
    width: 100%;
    height: 200px;
    margin: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    & .page_button {
        max-width: 150px;
        display: inline-block;
        color: $brand2;
        background-color: $white-fixed;
        border: none;
        font-size: 24px;
        font-weight: 700;
    }

    & .pagination_container__quantity {
        color: $grey-4;
    }

    & .quantity__grey_modify {
        color: $grey-3;
    }
}
