@import "../../../styles/globalVariables.module.scss";

.div_divider {
    width: 100%;
    max-width: 440px;
    padding: 36px 44px;
    background-color: $grey-10;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    border-radius: 4px;

    .img_div {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 14px 32px;
    }

    img {
        max-width: 110px;
        width: 100%;
    }
}
