.div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;

  .body-2-500 {
    color: $grey-1;
  }

  .body-2-400 {
    color: $grey-2;
  }
}
